@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
}

html {
  font-size: 18px;
}

#header-logo-center {
  display: grid;
  /* same as #header-list height */
  height: 5rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  grid-template-rows: 33.333% 33.333% 33.333%;
}

header {
  position: sticky;
  z-index: 9999;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.411);
  display: block;
}

#header-list {
  padding: 0;
  margin: 0 6rem;
  height: 5rem;
  /* border-bottom: 2px solid rgb(197, 0, 0); */
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

#header-list *::selection {
  background: none;
}

#header-list ul li {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  padding-left: 1rem;
}

#header-list p,
#header-list a {
  font-size: 0.95rem;
  cursor: pointer;
}

header a,
header div p {
  color: black;
  list-style: none;
  padding-top: 1.8rem;
  flex-basis: 20%;
  transition: 0.5s;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.fast-fix {
  position: relative;
  top: 7rem;
}

.fast-fix-2 {
  position: relative;
  bottom: 0;
  top: 50%;
}

header ul li {
  font-size: 1.2rem;
}
header ul li img {
  width: 60%;
}

.content-box {
  background: rgba(0, 0, 0, 0.65);
  width: fit-content;
  max-width: 30%;
  margin: 0 auto;
  top: 35vh;
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  position: relative;
  box-sizing: content-box;
}

.content-box p {
  color: white;
  font-family: "Inria Serif", serif;
  font-size: 5rem;
  letter-spacing: 0.15rem;
  text-align: center;
}

.content-box img {
  margin-bottom: 1.5rem;
  height: 2.6rem;
}

.content-text {
  transition: 0.5s;
}
.centered-parent {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.terms-of-use {
  left: 45vw;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: black;
  background: rgba(255, 255, 255, 0.232);
  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
}

/* /////////////////////// */
/* start of footer  */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
#first-footer {
  background-color: #f5f3f4;
}
#first-footer ul {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#first-footer li {
  text-align: center;
  color: BLACK;
  padding: 0.5rem 0;
  list-style: none;
}

#first-footer-right {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  background: #f5f3f4;
  position: relative;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
}

.ffr-item img {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
  border-radius: 10px;
}

/* second footer part */
#second-footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 70% 30%;
  padding-top: 1rem;
  border-top: 1px solid white;
}

#second-footer p,
#div-for-text {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#grid-for-text {
  display: grid;
  grid-template-columns: 14% 90%;
}

footer p,
footer span {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1.05rem;
}

#div-for-text p,
#div-for-text span {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

#gamintoju-container {
  overflow: hidden;
  /* background-color: rgb(227, 233, 237); */
  background-color: white;
}

#gamintoju-grid {
  display: grid;
  height: inherit;
  grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
}

#gamintoju-grid div {
  /* border: 3px solid black; */
  width: 22.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
}

#gamintoju-grid div img {
  width: 100%;
  /* height: 6rem; */
  max-height: 6rem;
  transform: scale(0.85);
  cursor: pointer;
}

#container-contacts-text-grid {
  padding-left: 4rem;
  display: grid;
  grid-template-rows: 50% 25% 25%;
}

#container-contacts-text-grid p,
#container-contacts-text-grid span {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 1.3rem;
}

#container-contacts-text-grid span {
  font-size: 3rem;
}

.dropdown {
  /* left = same as #header-list margin second  value */
  left: -6rem;

  position: relative;
  transform-origin: top center;
}

.dropdown li {
  padding: 1rem 0;
  list-style: none;
}

.container {
  min-height: 90vh;
  height: calc(100vh - 5rem);
  overflow: auto;
  background: white;
  /* background: rgba(255, 255, 240, 0.651); */
  overflow-x: hidden;
}

#brrr {
  display: grid;
  grid-template-columns: 100px 10px auto;
}

#bcnl-container {
  list-style: none;
  padding-top: 1rem;
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  color: white;
}

#bcnl-container li {
  cursor: pointer;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#bcnl-container li,
#bcnl-container a,
#bcnl-container span {
  font-size: 1.55rem;
  font-family: "Roboto";
}

#bcnl-container a:hover {
  text-decoration: underline;
}

.dropdown a:hover {
  text-decoration: underline white;
}

.header-item-onhover:hover {
  transition: 0.4s;
  filter: drop-shadow(1px 0px 10px rgba(255, 0, 0, 0.852));
}

.header-img-onhover:hover {
  transition: 0.4s;
  filter: drop-shadow(1px 0px 10px rgba(255, 0, 0, 0.501));
}

.dropdown-subtext {
  text-transform: uppercase;
  color: white;
  padding: 0;
  padding-bottom: 2px;
  font-size: 0.9rem;
  font-weight: 300;
}

.product-name {
  text-decoration: none;
  z-index: 100;
  /* posrel vien del z index kuris del transform scale img onhover */
  position: relative;
  color: black;
}

#sidebar-container {
  font-size: 1.4rem;
  position: fixed;
  width: 17%;
  top: 30%;
}
#products-sidebar {
  /* same as the area for the grid -10% */
  width: 100%;
  top: 30%;
  scrollbar-width: thin;
  overflow: hidden scroll;
  scrollbar-color: rgba(255, 0, 0, 0.373) rgba(221, 221, 221, 0.159);
  height: 25rem;
}

/* chrome sidebar scrollbar */
#products-sidebar::-webkit-scrollbar {
  width: 5px;
}
#products-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.159);
  border-radius: 10px;
}

#products-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.373);
}

/*end of chrome sidebar scrollbar */

.product-type {
  font-family: "Roboto";
  text-transform: lowercase;
  cursor: pointer;
}

.product-type::selection {
  background: none;
  color: black;
}

.product-container img {
  width: inherit;
  transition: 0.17s;
  max-width: 25rem;
  height: inherit;
  transform: scale(0.85);
  max-height: 15rem;
}

.product-container {
  overflow: hidden;
}

.product-container img:hover {
  transform: scale(0.9);
}

.bold-text {
  font-weight: bold;
}

.type-li p::selection {
  cursor: default;
  background: none;
}

.type-li {
  padding-right: 1rem;
}

.sidebar-subtext {
  text-align: right;
  font-size: 1.2rem;
  cursor: default;
  padding-bottom: 0.1rem;
}

.sidebar-subtext::selection {
  cursor: default;
  background: none;
}

#main-page-cont {
  background: rgba(0, 0, 0, 0.852);
  width: 40%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 4rem;
  box-shadow: 0 23px 15px rgba(0, 0, 0, 0.411);
  /* position: relative;
  top: 30%; */
  /* min-height: inherit; */
}

#main-page-cont *::selection {
  background: none;
}

#main-page-cont p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.footer-link {
  color: black;
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
}
#main-logo {
  filter: invert(1);
  width: 15rem;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

#clear-btn {
  color: rgba(0, 0, 0, 0.801);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  display: block;
  position: relative;
  left: 10%;
  text-transform: lowercase;
}

#main-page-cont0 {
  overflow: hidden;
  height: inherit;
  display: grid;
  grid-template-rows: 17% 66% 17%;
  /* veikia jei sita ant mobiliu tik */
  /* height: 170%; */
}

body {
  overflow: hidden;
}

@media (max-width: 720px) and (max-height: 1333px) {
  #breadcrumbs-links {
    display: none;
  }
}

@media (max-width: 720px) and (max-height: 1111px) {
  html {
    font-size: 14px;
  }
}

@media (max-height: 800px) and (max-width: 1400px) and (min-height: 721px) and (min-width: 1112px) {
  html {
    font-size: 15px;
  }
}

#product-page-grid {
  display: grid;
  margin-top: 4.5rem;
  grid-template-columns: 28% 44% 28%;
}

#product-text {
  text-align: center;
  font-size: 1.7rem;
  position: relative;
  top: 50%;
  font-family: "Roboto";
}
#main-product-img {
  width: auto;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 25rem;
  max-width: 100%;
}

#prod-photo-container {
  margin: 0 auto;
  text-align: center;
}

#product-name {
  font-size: 1.4rem;
}

#interior-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
  margin: 0 auto;
}

#interior-container img {
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 3rem;
  width: 28rem;
  height: 15.8rem;
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.85);
}
